<!doctype html>
<html lang="en">

<head>
    <title>Luzitana</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">

    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body id="home">
    <nav class="navbar navbar-expand-lg navbar-dark bg-gray fixed-top">
        <div class="container py-3">
            <a class="navbar-brand" href="#home">
                <img src="assets/img/Objeto-Inteligente-de-Vetor.png" width="220px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse ml-4" id="navbarSupportedContent">
                <ul class="navbar-nav" class="ml-auto">
                    <li class="nav-item">
                        <a class="text-white font-weight-black font-family-dosis text-uppercase nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white font-weight-black font-family-dosis text-uppercase nav-link" href="#ofertas">Ofertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white font-weight-black font-family-dosis text-uppercase nav-link" href="#adega">Adega</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white font-weight-black font-family-dosis text-uppercase nav-link" href="#novidades">Novidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white font-weight-black font-family-dosis text-uppercase nav-link" href="#lojas">Lojas</a>
                    </li>
                </ul>
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item text-center">
                        <a href="#" class="mx-auto">
                            <img src="assets/img/Vector-Smart-Object.png" width="100px" class="img-fluid">
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item text-center">
                        <a href="#" class="text-white">
                            <i class="fa fa-facebook fa-fw" style="opacity: .7" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="text-white">
                            <i class="fa fa-instagram fa-fw" style="opacity: .7" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="text-white">
                            <i class="fa fa-youtube-play fa-fw" style="opacity: .7" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col px-0">
                <div class="banner-carousel">
                    <div>
                        <picture>
                            <source media="(max-width: 650px)" srcset="assets/img/banner_mobile.png">
                            <!-- <source media="(min-width: 465px)" srcset="img_white_flower.jpg"> -->
                            <img src="assets/img/banner-black-label.png" alt="Banner Black Label" class="img-fluid">
                        </picture>
                    </div>
                    <div>
                        <picture>
                            <source media="(max-width: 650px)" srcset="assets/img/banner_mobile.png">
                            <!-- <source media="(min-width: 465px)" srcset="img_white_flower.jpg"> -->
                            <img src="assets/img/banner-black-label.png" alt="Banner Black Label" class="img-fluid">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="ofertas" class="container-fluid bg-purple" style="margin-top: -6px;">
        <div class="row">
            <div class="col">
                <p class="text-uppercase font-family-dosis h4 font-weight-black m-0 py-3 text-orange text-center">
                    Ofertas da semana em destaque
                </p>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-6 col-lg-3 mb-5">
                <a class="d-block mw-100" href="#">
                    <div class="row">
                        <div class="col">
                            <!-- 230 X 280  -->
                            <img src="assets/img/vinho.png" class="d-block mw-100 mx-auto">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="text-dark text-center font-weight-bold my-2">
                                Canepa novíssimo Cabernet Sauvignon 2017
                            </p>
                        </div>
                    </div>
                    <div class="row no-gutters bg-lighter-gray p-2 font-weight-bold">
                        <div class="col-4" style="line-height: 15px;">
                            <div class="row">
                                <div class="col">
                                    <small class="m-0">De</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span class="font-weight-black">R$ 30,40</span>
                                </div>
                            </div>
                        </div>
                        <div class="align-items-center bg-purple col-8 d-flex justify-content-center rounded">
                            <p class="text-gold text-center m-0 p-1">
                                <span class="small">
                                    Por 
                                </span>
                                <span class="font-weight-black">
                                    R$ 24,99
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 mb-5">
                <a class="d-block mw-100" href="#">
                    <div class="row">
                        <div class="col">
                            <!-- 230 X 280  -->
                            <img src="assets/img/vinho2.png" class="d-block mw-100 mx-auto">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="text-dark text-center font-weight-bold my-2">
                                Canepa novíssimo Cabernet Sauvignon 2017
                            </p>
                        </div>
                    </div>
                    <div class="row no-gutters bg-lighter-gray p-2 font-weight-bold">
                        <div class="col-4" style="line-height: 15px;">
                            <div class="row">
                                <div class="col">
                                    <small class="m-0">De</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span class="font-weight-black">R$ 30,40</span>
                                </div>
                            </div>
                        </div>
                        <div class="align-items-center bg-purple col-8 d-flex justify-content-center rounded">
                            <p class="text-gold text-center m-0 p-1">
                                <span class="small">
                                    Por
                                </span>
                                <span class="font-weight-black">
                                    R$ 24,99
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 mb-5">
                <a class="d-block mw-100" href="#">
                    <div class="row">
                        <div class="col">
                            <!-- 230 X 280  -->
                            <img src="assets/img/vinho.png" class="d-block mw-100 mx-auto">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="text-dark text-center font-weight-bold my-2">
                                Canepa novíssimo Cabernet Sauvignon 2017
                            </p>
                        </div>
                    </div>
                    <div class="row no-gutters bg-lighter-gray p-2 font-weight-bold">
                        <div class="col-4" style="line-height: 15px;">
                            <div class="row">
                                <div class="col">
                                    <small class="m-0">De</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span class="font-weight-black">R$ 30,40</span>
                                </div>
                            </div>
                        </div>
                        <div class="align-items-center bg-purple col-8 d-flex justify-content-center rounded">
                            <p class="text-gold text-center m-0 p-1">
                                <span class="small">
                                    Por 
                                </span>
                                <span class="font-weight-black">
                                    R$ 24,99
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 mb-5">
                <a class="d-block mw-100" href="#">
                    <div class="row">
                        <div class="col">
                            <!-- 230 X 280  -->
                            <img src="assets/img/vinho2.png" class="d-block mw-100 mx-auto">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="text-dark text-center font-weight-bold my-2">
                                Canepa novíssimo Cabernet Sauvignon 2017
                            </p>
                        </div>
                    </div>
                    <div class="row no-gutters bg-lighter-gray p-2 font-weight-bold">
                        <div class="col-4" style="line-height: 15px;">
                            <div class="row">
                                <div class="col">
                                    <small class="m-0">De</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span class="font-weight-black">R$ 30,40</span>
                                </div>
                            </div>
                        </div>
                        <div class="align-items-center bg-purple col-8 d-flex justify-content-center rounded">
                            <p class="text-gold text-center m-0 p-1">
                                <span class="small">
                                    Por
                                </span>
                                <span class="font-weight-black">
                                    R$ 24,99
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <picture>
            <source media="(max-width: 650px)" srcset="assets/img/banner_secundario_mobile.png">
            <!-- <source media="(min-width: 465px)" srcset="img_white_flower.jpg"> -->
            <img src="assets/img/banner_secundario.jpg" alt="Banner Black Label" class="w-100 h-100 d-block mx-auto">
        </picture>
    </div>

    <div class="container-fluid mt-5">
        <div class="row">
            <a href="#">
                <picture>
                    <source media="(max-width: 650px)" srcset="assets/img/banner2_mobile.png">
                    <!-- <source media="(min-width: 465px)" srcset="img_white_flower.jpg"> -->
                    <img src="assets/img/beauty-market.png" alt="Banner Black Label" class="w-100 h-100 d-block mx-auto">
                </picture>
            </a>
        </div>
    </div>

    <div id="adega" class="container">
        <div class="row mt-5">
            <div class="col-md-6 mb-3">
                <img src="assets/img/compra-programada.png" class="w-100" alt="">
            </div>
            <div class="col-md-6 mb-3">
                <img src="assets/img/clube-vantagens.png" class="w-100" alt="">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4 mb-3">
                <img src="assets/img/cartao-luzi.png" class="w-100" alt="">
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col mb-3">
                        <img src="assets/img/servicos.png" class="w-100" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mb-3">
                        <img src="assets/img/trabalhe.png" class="w-100" alt="">
                    </div>
                    <div class="col-6 mb-3">
                        <img src="assets/img/adega.png" class="w-100" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="novidades" class="d-block w-100 bg-gold">
        <div class="container">
            <div class="row mt-5 py-2">
                <div class="col text-center">
                    <div class="d-flex justify-content-center align-items-center flex-md-row flex-column">
                        <p class="h3 font-family-dosis text-uppercase font-weight-bold text-purple m-0">
                            Linha
                        </p>
                        <img src="assets/img/exclusiva.jpg" class="mx-2">
                        <p class="h3 font-family-dosis text-uppercase font-weight-bold text-purple m-0">
                            Luzitana
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 d-block bg-light-gold">
        <div class="container">
            <div class="row pt-5">
                <div class="col-sm-6 col-lg-3 mb-5">
                    <a class="d-block mw-100" href="#">
                        <div class="row">
                            <div class="col">
                                <!-- 230 X 280  -->
                                <img src="assets/img/produto_exclusivo_1.png" class="d-block mw-100 mx-auto">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-dark text-center font-weight-bold my-2">
                                    Canepa novíssimo Cabernet Sauvignon 2017
                                </p>
                            </div>
                        </div>
                        <div class="row no-gutters bg-lighter-gray p-2 font-weight-bold">
                            <div class="col-4" style="line-height: 15px;">
                                <div class="row">
                                    <div class="col">
                                        <small class="m-0">De</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="font-weight-black">R$ 30,40</span>
                                    </div>
                                </div>
                            </div>
                            <div class="align-items-center bg-purple col-8 d-flex justify-content-center rounded">
                                <p class="text-gold text-center m-0 p-1">
                                    <span class="small">
                                        Por
                                    </span>
                                    <span class="font-weight-black">
                                        R$ 24,99
                                    </span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3 mb-5">
                    <a class="d-block mw-100" href="#">
                        <div class="row">
                            <div class="col">
                                <!-- 230 X 280  -->
                                <img src="assets/img/produto_exclusivo_2.png" class="d-block mw-100 mx-auto">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-dark text-center font-weight-bold my-2">
                                    Canepa novíssimo Cabernet Sauvignon 2017
                                </p>
                            </div>
                        </div>
                        <div class="row no-gutters bg-lighter-gray p-2 font-weight-bold">
                            <div class="col-4" style="line-height: 15px;">
                                <div class="row">
                                    <div class="col">
                                        <small class="m-0">De</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="font-weight-black">R$ 30,40</span>
                                    </div>
                                </div>
                            </div>
                            <div class="align-items-center bg-purple col-8 d-flex justify-content-center rounded">
                                <p class="text-gold text-center m-0 p-1">
                                    <span class="small">
                                        Por
                                    </span>
                                    <span class="font-weight-black">
                                        R$ 24,99
                                    </span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3 mb-5">
                    <a class="d-block mw-100" href="#">
                        <div class="row">
                            <div class="col">
                                <!-- 230 X 280  -->
                                <img src="assets/img/produto_exclusivo_1.png" class="d-block mw-100 mx-auto">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-dark text-center font-weight-bold my-2">
                                    Canepa novíssimo Cabernet Sauvignon 2017
                                </p>
                            </div>
                        </div>
                        <div class="row no-gutters bg-lighter-gray p-2 font-weight-bold">
                            <div class="col-4" style="line-height: 15px;">
                                <div class="row">
                                    <div class="col">
                                        <small class="m-0">De</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="font-weight-black">R$ 30,40</span>
                                    </div>
                                </div>
                            </div>
                            <div class="align-items-center bg-purple col-8 d-flex justify-content-center rounded">
                                <p class="text-gold text-center m-0 p-1">
                                    <span class="small">
                                        Por
                                    </span>
                                    <span class="font-weight-black">
                                        R$ 24,99
                                    </span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3 mb-5">
                    <a class="d-block mw-100" href="#">
                        <div class="row">
                            <div class="col">
                                <!-- 230 X 280  -->
                                <img src="assets/img/produto_exclusivo_2.png" class="d-block mw-100 mx-auto">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-dark text-center font-weight-bold my-2">
                                    Canepa novíssimo Cabernet Sauvignon 2017
                                </p>
                            </div>
                        </div>
                        <div class="row no-gutters bg-lighter-gray p-2 font-weight-bold">
                            <div class="col-4" style="line-height: 15px;">
                                <div class="row">
                                    <div class="col">
                                        <small class="m-0">De</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="font-weight-black">R$ 30,40</span>
                                    </div>
                                </div>
                            </div>
                            <div class="align-items-center bg-purple col-8 d-flex justify-content-center rounded">
                                <p class="text-gold text-center m-0 p-1">
                                    <span class="small">
                                        Por
                                    </span>
                                    <span class="font-weight-black">
                                        R$ 24,99
                                    </span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>            
            </div>
        </div>
    </div>

    <div class="d-block w-100 pb-5 bg-gray">
        <div class="container">
            <div class="row pt-3">
                <div class="col">
                    <p class="h2 mt-3 mb-0 text-uppercase text-white font-weight-black">
                        Contato
                    </p>
                    <p class="text-uppercase font-weight-normal text-white">
                        Dúvidas, reclamações ou sugestões mande-nos um email.
                    </p>
                </div>
            </div>
            <form class="row" action="/" method="post">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="text-white small" for="nome">Nome</label>
                        <input type="text" name="nome" id="nome" class="form-control" placeholder="" aria-describedby="helpId">
                    </div>
                    <div class="form-group">
                        <label class="text-white small" for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="" aria-describedby="helpId">
                    </div>
                    <div class="form-group">
                        <label class="text-white small" for="telefone">Telefone</label>
                        <input type="tel" name="telefone" id="telefone" class="form-control" placeholder="" aria-describedby="helpId">
                    </div>
                </div>
                <div class="col-md-6 d-flex flex-column align-items-stretch justify-content-between">
                    <div class="form-group">
                        <label class="text-white small" for="mensagem">Mensagem</label>
                        <textarea name="mensagem" id="mensagem" rows="5" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                      <input type="submit" value="enviar" class="btn btn-danger mx-auto text-uppercase d-block px-4 font-weight-bold">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- <div class="w-100 d-block bg-dark-gray"> -->
        <div id="lojas" class="container-fluid bg-dark-gray">
            <div class="row px-4 pt-5">
                <div class="col-md-4 mb-4">
                    <div class="row">
                        <div class="col">
                            <img src="assets/img/logo_2.png" class="img-fluid mx-auto mb-5 w-50 d-block">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-white line-height-short">
                                <small>
                                    <b>Loja 1</b><br>
                                    Av. Dois de Junho, 2251 <br>
                                    Centro <br>
                                    Fone: (69) 3344-3000
                                </small>
                            </p> 
                            <p class="text-white line-height-short">
                                <small>
                                    Horário de atendimento: <br>
                                    2ª à Sábado, das 7h às 21h <br>
                                    Domingos e Feriados, das 7h às 19h
                                </small>
                            </p>
                        </div>
                        <div class="col-6">
                            <p class="text-white line-height-short">
                                <small>
                                    <b>Loja 1</b><br>
                                    Av. Dois de Junho, 2251 <br>
                                    Centro <br>
                                    Fone: (69) 3344-3000
                                </small>
                            </p> 
                            <p class="text-white line-height-short">
                                <small>
                                    Horário de atendimento: <br>
                                    2ª à Sábado, das 7h às 21h <br>
                                    Domingos e Feriados, das 7h às 19h
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 d-flex flex-column justify-content-between">
                    <div class="row">
                        <div class="col-12">
                            <p class="text-uppercase font-weight-bold text-white h5">
                                Formas de pagamento
                            </p>
                            <p class="text-white small font-weight-bold mb-0">
                                Cartões de crédito
                            </p>
                            <img src="assets/img/cartoes.png" class="img-fluid mb-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="text-white small font-weight-bold mb-0">
                                Cartões de débito
                            </p>
                            <img src="assets/img/credito.png" class="img-fluid mb-4">
                        </div>                    
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="text-white small font-weight-bold mb-0">
                                Cartões de alimentação
                            </p>
                            <img src="assets/img/alimentacao.png" class="img-fluid mb-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="text-white font-weight-bold text-uppercase small">Nas compras acima de R$50,00 e no limite
                            máximo acumulado de R$1000,00 para clientes
                            com cadastro Aprovado.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="d-flex flex-column justify-content-between bg-light-gray p-3">
                        <p class="text-gold font-weight-bold small">
                            Cadastro de cheques somente em horário comercial, de Segunda a Sexta-Feira das 8h às 18h e Sábado das 8h às 12h.
                        </p>
                        <p class="text-white font-weight-bold text-uppercase small">
                            Documentos necessários:
                        </p>
                        <p class="text-white small">
                            Comprovante de endereço <br>
                            RG e CPF<br>
                            Telefone para contato<br>
                            Talão de cheques<br>
                            Comprovante de renda<br>
                        </p>
                        <p class="text-white small font-weight-bold">
                            Prazo mínimo para aprovação de 30 dias. <br>
                            Pagamento com cheque pré-datado para 30 dias.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->

    <footer class="footer bg-gray d-flex">
        <div class="container font-weight-normal d-flex justify-content-center">
            <span class="text-muted small m-0 align-self-center text-center">© 2018 | Supermercados A Luzitana</span>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.6/holder.min.js"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

    <script src="assets/js/app.js"></script>
</body>

</html>